|  Recently you have installed our app( #{appName} ) and then uninstalled it. I would like to tell you that we are working hard to improve our app and providing the best service to our users.
br
|  We have fixed bugs and also added new features like...
br
ol
  li Work with fixed header Store
  li Countdown Timer
  li Auto responsive
  li Page wise Different Announcement
  li 20+ In/out Animations
br
|  Can you spare two minutes for feedback? we would like the opportunity to resolve your issue and make the best out of it. 
br
|  Here is link of our new updated app 
br

br
a(style='background:rgb(62, 130, 176);color:white;text-align:center;padding:10px 15px;border-radius:3px;text-decoration:none;' class='button' href=shopifyAppUrl) Install App