p  we made improvements in #{appName}

p  We have fixed bugs and also added new features like...
ol
  li Work with fixed header Store
  li Countdown Timer
  li Auto responsive
  li Page wise Different Announcement
  li 20+ In/out Animations
p  Can you spare two minutes for feedback? we would like the opportunity to resolve your issue and make the best out of it. 
p  Here is link of our new updated app 
