                  tr
                    td.content-wrapper(style='padding-left:24px;padding-right:24px')
                      div(style='color: #757575;font-size: 14px;font-weight: 400; margin-bottom: 30px')
                        br
                        |  Have a Nice Day! 
                        br
                        |  Friends at #{appName}
