p  Welcome to #{appName} for Shopify!
p  Thank you for installing our app.
p  If you have any questions or comments about the app, please use our chat support from app and we will respond promptly.
p  We have a few more apps that can help you to reach more customer, modify your customer shopping experince and grow your business.