|  We would like to apologize for your recent experience. We are sorry for your inconvenience and would like to thank you for being with us. There may be some reason due to which you uninstall our app.
br
br
|  Your feedback really help us in improvisation of our app. So w e&rsquo;d like to ask you few questions regarding your experience. You can share your experience with the below questions:
br
br
strong 1. Are you looking for new feature?
br
strong 2. Did you face any type of problem or error?
br
br
| And also something other than this you can 
strong reply on the same email address. 
| It will take few seconds to answer and your answer makes our app even better for you and other customers. We would like the opportunity to resolve your issue immediately and make
| best out of it.

